code {
    background-color: black;
    border: 1px solid #d0d7de;
    border-radius: 6px;
    padding: 5px;
    display: block;
    white-space: pre-wrap;
    line-height: 1.5;
    font-size: 10px;
    color: white;
  }
  